$base-font-size: 14px;
$base-color-text: #1b1b1b;
$base-color-white: #fff;
$base-color-yellow: #ffde00;
$base-font-family: Arial, Helvetica, sans-serif;
$base-font-family-alt: "Myriad Pro", "Lucida Sans", "Segoe UI", Calibri, Arial, sans-serif;
$base-line-height: $base-font-size * 1.6;
$container-width: 960px;