/* line 5, ../../dev/scss/header.scss */
#header {
  *zoom: 1;
}
/* line 38, ../../../../../usr/local/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#header:after {
  content: "";
  display: table;
  clear: both;
}

/* line 9, ../../dev/scss/header.scss */
#logo {
  float: left;
  width: 28.125%;
  margin-top: 2.85714em;
}
/* line 13, ../../dev/scss/header.scss */
#logo img {
  width: 100%;
}
@media screen and (max-width: 610px) {
  /* line 9, ../../dev/scss/header.scss */
  #logo {
    width: 63.54167%;
    float: none;
    display: block;
    margin: 2.85714em auto;
  }
}

/* line 25, ../../dev/scss/header.scss */
.phone {
  float: right;
  margin-top: 3.35714em;
  font-weight: bold;
  font-family: "Myriad Pro", "Lucida Sans", "Segoe UI", Calibri, Arial, sans-serif;
  line-height: 1.92857em;
}
@media screen and (max-width: 610px) {
  /* line 25, ../../dev/scss/header.scss */
  .phone {
    max-width: 80%;
    margin: 3.35714em auto 0;
    float: none;
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  /* line 25, ../../dev/scss/header.scss */
  .phone {
    margin-top: 1.07143em;
  }
}

/* line 45, ../../dev/scss/header.scss */
.phone_label {
  background: #ffde00;
  font-size: 0.92857em;
  line-height: 2.07692em;
  padding: 0 0.46154em;
  margin-right: 0.71429em;
  display: inline-block;
  vertical-align: bottom;
}
@media screen and (max-width: 500px) {
  /* line 45, ../../dev/scss/header.scss */
  .phone_label {
    margin: 0;
  }
}

/* line 60, ../../dev/scss/header.scss */
.phone_number {
  color: white;
  font-size: 1.33357em;
  line-height: 1.44617em;
  display: inline-block;
  vertical-align: bottom;
}
