/* line 5, ../../dev/scss/online_workshop.scss */
.online_workshop {
  width: 33.85417%;
  margin-top: 8.78571em;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 610px) {
  /* line 5, ../../dev/scss/online_workshop.scss */
  .online_workshop {
    width: 70%;
    margin: 4.28571em auto 0;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  /* line 5, ../../dev/scss/online_workshop.scss */
  .online_workshop {
    width: 90%;
    margin: 1.78571em auto 0;
    text-align: center;
  }
}

/* line 24, ../../dev/scss/online_workshop.scss */
.intrigue_text {
  background: #ffde00;
  font-weight: bold;
  font-size: 1.71429em;
  line-height: 1.08333em;
  letter-spacing: 0.04167em;
  position: relative;
  left: 0.25em;
}
